%img(src="https://tickets.lep2015.com/assets/cropped-LEP2015-Banner-White-Web-525wide-9b462f1b67d95e6e4ea56c5764ca198e.png")
%h2
  Tickets for LEP2015 may now only be purchased at the registration desk.

%p
  Registration is at the Hilton Hotel, in the Cheakamus Room (
  = link_to 'view map','https://www.google.ca/maps/place/4050+Whistler+Way,+Whistler,+BC+V0N+1B4/@50.1130241,-122.9567883,17z/data=!3m1!4b1!4m2!3m1!1s0x5487234b16dbb9b3:0xef9a84bcad5c0f8', target: '_blank'
  )
