<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
    <p>
    <%#= Spree.t :powered_by  %> <%#= link_to '&ouml;&ouml;bik'.html_safe, 'http://oobik.com/' %>
    </p>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook></div>
</footer>
<script type="text/javascript" src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js"></script>
<script type="text/javascript">
FreshWidget.init("", {"queryString": "&widgetType=popup&formTitle=LEP+2015+Ticketing+Help&submitThanks=Please+fill+out+the+following+form+if+you+require+assistance+with+LEP+2015+ticket+purchase.+We'll+be+in+touch+shortly!", "widgetType": "popup", "buttonType": "text", "buttonText": "Ticketing Help", "buttonColor": "white", "buttonBg": "#1b66ac", "alignment": "4", "offset": "235px", "submitThanks": "Please fill out the following form if you require assistance with LEP 2015 ticket purchase. We'll be in touch shortly!", "formHeight": "500px", "url": "https://lep2015.freshdesk.com"} );
</script>
