<div data-hook="homepage_products">
   <% each_sorted_bucket do |name, products | -%>
     <h2><%= name -%></h3>
     <%= render :partial => 'spree/shared/products', :locals => { :products => products } %>
   <% end -%>

   <br/>
   <ul>
     <li><a href='https://lep2015.s3.amazonaws.com/supporting_files/LEP-TicketOrderSheet-Estonian.pdf' target='_blank'>Ürituste Tellimisleht</a> /
       <a href='https://lep2015.s3.amazonaws.com/supporting_files/LEP-TicketOrderSheet-English.pdf' target='_blank'>Printable Order Sheet</a>
     </li>
     <li>
       <a href='http://lep2015.com/wp-content/uploads/2015/07/LEP-SchedulePublic-Estonian2.pdf' target='_blank'>Ürituste Ajakava</a> /
       <a href='http://lep2015.com/wp-content/uploads/2015/07/LEP-SchedulePublic-English5.pdf' target='_blank'>Printable Schedule of Events</a>
     </li>
   </ul>
</div>
