<div data-hook="homepage_products">
   <% each_sorted_bucket do |name, products | -%>
     <h2><%= name -%></h3>
     <%= render :partial => 'spree/shared/products', :locals => { :products => products } %>
   <% end -%>

   <br/>
   <p>
   <a href='http://lep2015.com/wp-content/uploads/2014/06/LEP-SchedulePublic-Estonian2.pdf'>Ürituste ajakava</a> / <a href='http://lep2015.com/wp-content/uploads/2014/05/LEP-SchedulePublic-English5.pdf'>Printable Schedule of Events</a>
   </p>
</div>
